[submodule "Code-Romeo"]
	path = dependencies/Code-Romeo
	url = https://github.com/omerfuyar/Code-Romeo.git

[submodule "shuild"]
	path = dependencies/Code-Romeo
	url = https://github.com/omerfuyar/Code-Romeo.git

[submodule "tecter"]
	path = dependencies/tecter
	url = https://github.com/omerfuyar/tecter.git
